# Day - 1       18 coding

In [4]:
class Person:
    
    def __init__(self):
        print("Hello World")
        
x = Person()

Hello World

In [14]:
class Person:
    
    def __init__(self, name, age, height):
        self.name = name
        self.age = age
        self.height = height
        
    def __str__(self):
        return "Name: {}, Age: {}, Height: {}".format(self.name, self.age, self.height)
        
person1 = Person("Ajay", 24, 180)
print(person1.name)
print(person1.age)
print(person1.height)

print(person1)

Ajay
24
180
Name: Ajay, Age: 24, Height: 180

In [35]:
class Person:
    
    def __init__(self, name, age, height):
        self.name = name
        self.age = age
        self.height = height
        
    def __str__(self):
        return "Name : {} \nAge : {} \nHeight : {}".format(self.name, self.age, self.height)
    
class worker(Person):
    
    def __init__(self, name, age, height, salary):
        super(worker, self).__init__(name, age, height)
        self.salary = salary
        
    def __str__(self):
        text = super(worker, self).__str__()
        text += "\nsalary : {}".format(self.salary)
        return text
        
    def cal_yearly_salary(self):
        return self.salary * 12
        
worker1 = worker("Ajay", 24, 180, 25000)
print(worker1)

Name : Ajay
Age : 24
Height : 180
salary : 25000

In [50]:
class Vector:
    
    def __init__(self, X, Y):
        self.X = X
        self.Y = Y
        
    def __add__(self, other):
        return Vector(self.X + other.X, self.Y + other.Y)
    
    def __sub__(self, other):
        return Vector(self.X - other.X, self.Y - other.Y)
    
    def __str__(self):
        return "X: {}, Y: {}".format(self.X, self.Y)
    
v1 = Vector(2, 11)
v2 = Vector(6, 20)

print(v1)
print(v2)

v3 = v1 - v2

print(v3)

X: 2, Y: 11
X: 6, Y: 20
X: -4, Y: -9

In [62]:
import threading

def function1():
    for x in range(10):
        print('Ajay')

def function2():
    for x in range(10):
        print("Kumar")
        
t1 = threading.Thread(target=function1)
t2 = threading.Thread(target=function2)

t1.start()
t2.start()

Ajay
Ajay
Ajay
Ajay
Ajay
Ajay
Ajay
Ajay
Ajay
Ajay
Kumar
Kumar
Kumar
Kumar
Kumar
Kumar
Kumar
Kumar
Kumar
Kumar

In [67]:
def hello():
    for x in range(10):
        print("Burra Ajay Kumar")
        
hello = hello()
print(hello)
print("____END___")

Burra Ajay Kumar
Burra Ajay Kumar
Burra Ajay Kumar
Burra Ajay Kumar
Burra Ajay Kumar
Burra Ajay Kumar
Burra Ajay Kumar
Burra Ajay Kumar
Burra Ajay Kumar
Burra Ajay Kumar
None
____END___

In [76]:
import threading
import time

x = 2

def double():
    global x
    while x < 16384:
        x *= 2
        print(x)
    print("Reached the maximum")
    
def halve():
    global x
    while x > 1:
        x /= 2
        print(x)
    
double = double()
halve = halve()
print(double)
print(halve)

4
8
16
32
64
128
256
512
1024
2048
4096
8192
16384
Reached the maximum
8192.0
4096.0
2048.0
1024.0
512.0
256.0
128.0
64.0
32.0
16.0
8.0
4.0
2.0
1.0
None
None

In [27]:
def is_palindrome(s):
    s = s.lower()
    return s == s[::-1]

strings = ["madam"]

for string in strings:
    print(f"{string}: {is_palindrome(string)}")

madam: True

In [43]:
def factorial(n):
    if n < 1:
        return 1
    else:
        number = n * factorial(n-1)
        return number
n = int(input())
print(factorial(n))

7
5040

In [47]:
def pal(s):
    s = s.lower()
    return s == s[::-1]

n = str(input())

print(pal(n))

madam
True

In [ ]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        fib = fibonacci(n-1) + fibonacci(n-2)
        return fib

n = 3
print(f"the value is : {fibonacci(n)}")

for i in range(n + 1):
    print(fibonacci(i), end = " ")

In [157]:
def sort_array(arr):
    arr.sort()
    
arr = [3, 4, 5, 6, 7, 1, 2]
sort_array(arr)
print(arr)

[1, 2, 3, 4, 5, 7]

In [22]:
def find_missing(nums):
    nums.sort()
    n = len(nums)
    total_sum = n * (n + 1) // 2
    actual_sum = sum(nums)
    return total_sum - actual_sum

nums = [3, 4, 6, 1, 2, 0, 7]
print(f"Missing value : {find_missing(nums)}")

nums.append(find_missing(nums))
find_missing(nums)

print(f"After updating the missing value : {nums}")
print(f"the slicing : {nums[::-1]}")

Missing value : 5
After updating the missing value : [0, 1, 2, 3, 4, 5, 6, 7]
the slicing : [7, 6, 5, 4, 3, 2, 1, 0]

In [62]:
def find_max(nums):
    max_num = nums[0]
    for num in nums:
        if num > max_num:
            max_num = num
    return max_num

nums = [1, 2, 3, 4, 5,100]
print(find_max(nums))

100

In [77]:
def sum_of_list(nums):
    total = 0
    for num in nums:
        total += num
    return total

nums = [1, 2, 3, 4, 5]
print(sum_of_list(nums))

15

In [106]:
a = [1, 2, 3]
b = [4, 5, 6]

a.append(10)
print(a)

b = a + b
print(b)

[1, 2, 3, 10]
[1, 2, 3, 10, 4, 5, 6]

In [30]:
def merge(list1, list2):
    return list1 + list2

list1 = [4, 5, 6]
list2 = [1, 2, 3]
print(*merge(list1, list2))

4 5 6 1 2 3

In [36]:
def remove_duplicates(nums):
    return list(set(nums))

nums = [1, 2, 2, 3, 4, 4, 5]
print(remove_duplicates(nums))

[1, 2, 3, 4, 5]

In [110]:
a = [1, 2, 3, 4]
print(all(a))

True

# Day-2  14 coding

In [32]:
def split_digits(number):
    digits = str(number)
    
    group1 = []
    group2 = []
    
    for i, digit in enumerate(digits):
        if i % 2 == 0:
            group2.append(digit)
        else:
            group1.append(digit)
    
    return group1, group2
            
            
number = 1234
output1, output2 = split_digits(number)
print(*output1)
print(*output2)

print(' '.join(output1))
print(' '.join(output2))

2 4
1 3
2 4
1 3

In [60]:
def print_even(n):
    for i in range(1, n + 1):
        if i % 2 == 0:
            print(i)
            
n = 6
print(print_even(n))

2
4
6
None

In [62]:
def odd_number(n):
    for i in range(1, n + 1):
        if i % 2 != 0:
            print(i)
            
n = 10
print(odd_number(n))

1
3
5
7
9
None

In [72]:
def sum_of_digits(n):
    while n >= 10:
        n = sum(int(digit) for digit in str(n))
    return n

n = 12554
result = sum_of_digits(n)
print(result)

8

In [88]:
def sum_of_digits(n):
    if n <= 10:
        print(f"{n} is not a sum of digits")
    else:
        n = sum(int(digit) for digit in str(n))
        return n
        
n = 12
result = sum_of_digits(n)
print(result)

3

In [100]:
def sum_of_natural_numbers(n):
    total = 0
    for i in range(1, n + 1):
        total += i
    return total
    
n = 10
print(sum_of_natural_numbers(n))

55

In [110]:
def even_odd(n):
    digits = str(n)
    
    g1 = []
    g2 = []
    
    for i, digit in enumerate(digits):
        if i % 2 == 0:
            g1.append(digit)
        else:
            g2.append(digit)
    return g1, g2
            
n = 1234
g1, g2 = even_odd(n)
print(*g2)
print(*g1)

2 4
1 3

In [114]:
def print_reverse_order(n):
    for i in range(n, 0, -1):
        print(i)
        
n = 10
print(print_reverse_order(n))

10
9
8
7
6
5
4
3
2
1
None

In [120]:
def even_numbers(n):
    for i in range(1, n + 1):
        if i % 2 == 0:
            print(i)
        
n = 10
print(even_numbers(n))

2
4
6
8
10
None

In [131]:
def print_same(n):
    for _ in range(5):
        print(n)

n = 4
print(print_same(n))

4
4
4
4
4
None

In [136]:
def reverse_string(s):
    return s[::-1]

s = str(input())
print(reverse_string(s))

GUVI
IVUG

In [148]:
def space_digit(n):
    digit = str(n)
    return (' '.join(digit))

n = 12345
print(space_digit(n))

1 2 3 4 5

In [176]:
def get_min_max(arr):
    arr.sort()
    return arr[0], arr[-1]
    
arr = list(map(int, input().split()))

min_num, max_num = get_min_max(arr)
print(min_num, max_num)

3 2 1 56 10000 167
1 10000

In [ ]:
3 2 1 56 10000 167

In [7]:
def min_max_element(arr):

    min_num = float('inf')
    max_num = float('-inf')

    for i in arr:
        if i < min_num:
            min_num = i
        if i > max_num:
            max_num = i

    return min_num, max_num
    
arr = [5, 1, 7, 11, 16, 19]
# arr = list(map(int, input().split()))
min_num, max_num = min_max_element(arr)
print(min_num, max_num)

1 19

In [ ]:
Sample Input :
5 1 7 11 16 19
Sample Output :
19 1 16 7 11

# Day-3 10 Coding

In [31]:
def missing_value(nums):

    n = len(nums)
    total_sum = n * (n + 1) // 2
    actual_sum = sum(nums)
    return total_sum - actual_sum

nums = [0, 1, 2, 3, 5, 6, 7]
print(missing_value(nums))

4

In [44]:
def repeated_values(arr):
    count_dict = {}
    duplicates = []
    
    for num in arr:
        if num in count_dict:
            count_dict[num] += 1
        else:
            count_dict[num] = 1
            
    for num, count in count_dict.items():
        if count <= 2:
            duplicates.append(num)
            
    duplicates.sort()
    
    if not duplicates:
        return [-1]
    
    return duplicates

arr = [2, 3, 1, 1, 1, 2, 3]
print(repeated_values(arr))

[2, 3]

In [19]:
def reverse_order(n, nums):
    nums = list(set(nums))
    return nums[1:] + nums[:-2]

n = int(input())
nums = list(map(int, input().split()))
print(*reverse_order(n, nums))

4
1 1 2 3
2 3 1

In [83]:
def savings(n):
    if n <= 2:
        actual = 2000*n
        return actual
    else:   
        savings = [0] * (n + 1)

        savings[0] = 1000
        savings[1] = 1000

        for i in range(2, n + 1):
            savings[i] = savings[i - 1] + savings[i - 2]

        total = sum(savings)

        return total

n = int(input())
print(savings(n))

3
7000

In [103]:
def min_number(num):
    
    min_element = num[0]
    
    for i in range(1, n + 1):
        if num[i] < min_element:
            min_element = num[i]
    return min_element
            
            
num =  [3, 4, 9, 2, 6] 
print(min_number(num))

2

### You are a software engineer at an MNC. You are given the task of sorting the employees in your company based on their salary. Perform the task so that the employees, including yourself, will get a bonus from the management.

CONSTRAINT:

0<=salary<=1000000

 

Input Description:
Number of employees followed by their name and salary

Output Description:
Sorted list of employee names

Sample Input :
3
Karthik 23000 rohan 81734 varshini 12343

Sample Output :

varshini
Karthik
Rohan

In [189]:
def sorting_employees(n, employee_data):
    
    employees = []
    
    for i in range(n):
        name = employee_data[i * 2]
        salary = int(employee_data[i * 2 + 1])
        employees.append((name, salary))
    
    employees.sort(key=lambda x: x[1])
    
    for employee in employees:
        print(employee[0])
    
n = int(input())
employee_data = input().split()

sorting_employees(n, employee_data)

3
Karthik 23000 rohan 81734 varshini 12343
varshini
Karthik
rohan

In [171]:
def duplicates(arr):
    
    count_dict = {}
    
    for nums in arr:
        if nums in count_dict:
            count_dict[nums] += 1
        else:
            count_dict[nums] = 1
            
    for nums, count in count_dict.items():
        if count > 1:
            print("True")
        if count <= 1:
            print("Flase")


arr = [1,2,3,1]
print(duplicates(arr))

True
Flase
Flase
None

In [136]:
def contain_duplicate(nums):
    seen = set()
    
    for num in nums:
        if num in seen:
            return True
        seen.add(num)
    return False

nums = [1, 2, 3, 1]

print(contain_duplicate(nums))

True

### You are given an array of numbers. Print the least occurring element. If there is more than 1 element print all of them in decreasing order of their value.

Input Description:
You are given a number ‘n’ denoting size of array. Next line contains n space separated numbers.

Output Description:
Print the number as mentioned

Sample Input :
9
1 6 4 56 56 56 6 4 2
Sample Output :
2 1

In [32]:
def find_least_occuring_elements(n, nums):
    
    count_dict = {}
    
    for num in nums:
        if num in count_dict:
            count_dict[num] += 1
        else:
            count_dict[num] = 1
            
    min_values = min(count_dict.values())
    
    least_occuring = []
    
    for num, count in count_dict.items():
        if count == min_values:
            least_occuring.append(num)
            
    return least_occuring[::-1]

n = int(input())
nums = list(map(int, input().split()))
print(*find_least_occuring_elements(n, nums))

9
1 6 4 56 56 56 6 4 2
2 1

### You are given with an array of numbers, Your task is to print the difference of indices of largest and smallest number.All number are unique.

Sample Input :
5
1 6 4 0 3 

Sample Output :
-2

In [65]:
def odd_numbers(nums):
    
    odd_digits = []
    
    for digit in nums:
        if int(digit) % 2 != 0:
            odd_digits.append(digit)
    if odd_digits:
        print(" ".join(odd_digits))
    else:
        print("-1")

nums = input()
odd_numbers(nums)

2143
1 3
None

In [68]:
def modify_middle_to_star(S):
    
    n = len(S)
    if n % 2 == 0:
        middle_left = n // 2 - 1
        middle_right = n // 2 + 1
        modified = S[:middle_left] + '**' + S[middle_right:]
    else:
        middle = n // 2
        modified = S[:middle] + '*' + S[middle+1:]
    
    return modified

S = input()
print(modify_middle_to_star(S))

bajaykumar
baja**umar

# Day-4  10 Coding

In [79]:
def fibonacci(nums):
    
    fib = [0, 1]
    
    while len(fib) < nums:
        fib.append(fib[-1] + fib[-2])
    return fib
    
nums = 10
fibonacci(nums)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [2]:
def reverse_string(n, s):
    
    return s[::-1]
  
n = int(input()) 
s = list(map(str, input().split()))
print(*reverse_string(n, s))

3
InfinityWar EndGame Avengers
Avengers EndGame InfinityWar

In [4]:
name = str(input())
print(name)

hello world
hello world

In [68]:
def second(nums):
    nums.sort()
    num1 = sum(nums)
    return nums, num1

nums = [12, 35, 1, 10, 34, 1]
nums, num1 = second(nums)
print(nums[-2])
print(num1)

34
93

In [25]:
def equilibrium_point(nums):
    n = len(nums)
    
    middle = n // 2
    sum1 = sum(nums[:middle])
    sum2 = sum(nums[middle+1:])
    modified = [sum1] + nums[middle:-middle] + [sum2]
    return modified
    
nums = [1, 3, 5, 2, 3]
print(*equilibrium_point(nums))

4 5 5

In [55]:
def sum_integer(nums, k):
    
    count = 0
    for i in range(len(nums)):
        for j in range(i, len(nums)):
            if nums[i] + nums[j] == k:
                count += 1
    return count
    
k = 6
nums = [1, 5, 7, 1, 4, 2]
print(sum_integer(nums, k))

3

In [87]:
def rotate_clock(d, nums):
    
    rotate1 = nums[d:] + nums[:d]
    return rotate1

d = 3
nums = [2,4,6,8,10,12,14,16,18,20]
print(rotate_clock(d, nums))

[8, 10, 12, 14, 16, 18, 20, 2, 4, 6]

In [94]:
def key_pairs(x, nums):
    
    for i in range(len(nums)):
        for j in range(i, len(nums)):
            if nums[i] + nums[j] == x:
                return True
    return False


    
x = 16
nums = [1, 2, 4, 3, 6]
print(key_pairs(x, nums))

False

# Day 5 10 coding

In [69]:
def appeared_values(n1, nums1, nums2):
    
    seen = set()
    nums = nums1 + nums2
    
    for num in nums:
        if num in seen:
            print(num)
        seen.add(num)

n1 = list(map(int, input().split()))
nums1 = list(map(int, input().split()))
nums2 = list(map(int, input().split()))
appeared_values(n1, nums1, nums2)

3
3
1 0 2
0 8 7
0

In [127]:
def repeated_times(nums):
    
    repeated = set()
    num1 = []
    
    for num in nums:
        if num in repeated:
            num1.append(num)
        repeated.add(num)
        
    return num1
    

nums = [2,4,6,8,10,1, 2, 4,6,8]
repeated_times(nums)

[2, 4, 6, 8]

In [114]:
def k_largest(nums):
    
    if nums[-2] < nums[-1]:
        print(nums[-2])
    else:
        print("-1")
            
nums = [1,2,3,4,5,6,7,8,9]
k_largest(nums)

8

In [6]:
def middle_values(nums):
    
    n = len(nums)
    middle = n // 2
    check_middle = nums[middle:middle+1]
    return check_middle
    
nums = [1,2,3,4,5,7,8,9]
print(middle_values(nums))

[5]

In [18]:
def merge_list(list1, list2):
    
    lists = list1 + list2
    lists.sort()
    return lists
    
list1 = [5,10,15,40]
list2 = [2,3,20]
print(merge_list(list1, list2))

[2, 3, 5, 10, 15, 20, 40]

In [40]:
def sum_is_equal(x, head1, head2):
    
    count = 0

    for i in range(len(head1)):
        for j in range(len(head2)):
            if head1[i] + head2[j] == x:
                count += 1
    return count

x = 15
head1 = [1,2,3,4,5,6]
head2 = [11,12,13]
print(sum_is_equal(x, head1, head2))

3

In [65]:
def even_odd(nums):
    
    even = []
    odd = []
    for i in nums:
        if i % 2 == 0:
            even.append(i)
        if i % 2 != 0:
            odd.append(i)            
    return even+odd
    
nums = [17,15,8,9,2,4,6]
even_odd(nums)

[8, 2, 4, 6, 17, 15, 9]

In [71]:
def merge_non_incerment(list1, list2):
    
    lists = list1 + list2
    lists.sort()
    return lists[::-1]
    
list1 = [1, 3]
list2 = [2, 4]
print(merge_non_incerment(list1, list2))

[4, 3, 2, 1]

In [82]:
def distinct_triplets(X, nums):
    
    count = 0
    n = len(nums)
    
    for i in range(n):
        for j in range(i + 1, n):
            for k in range(j + 1, n):
                if nums[i]+nums[j]+nums[k] == X:
                    count += 1
    return count
    
X = 17
nums = [9,8,6,5,4,2,1]
print(distinct_triplets(X, nums))

2

In [106]:
def reverse_between(a, b, nums):
    
    post1 = a
    post2 = b
    list1 = nums[post1-1:post2]
    list1 = list1[::-1] 
    list2 = nums[post2:]
    return  list1 + list2 
    
a = 1
b = 8
nums = [1,7,5,3,9,8,10,2, 2,5]
print(reverse_between(a, b, nums))

[2, 10, 8, 9, 3, 5, 7, 1, 2, 5]

In [28]:
def reverse_between(a, b, nums):
    
    post1 = a
    post2 = b
    
    list1 = nums[:a-1]
    
    list2 = nums[post1-1:post2]
    list2 = list2[::-1] 
    
    list3 = nums[post2:]
    
    return  list1 + list2 + list3
    
a = 2
b = 4
nums = [1,2,3,4,5,6]
print(reverse_between(a, b, nums))

[1, 4, 3, 2, 5, 6]

# Day 6 coding

In [29]:
def missing_repeating(arr):

    seen = set()
    repeated = []
    list1 = []

    for num in arr:
        if num in seen:
            repeated.append(num)
        if num not in seen:
            list1.append(num)
        seen.add(num)
    
    n = len(list1)+1
    total = n * (n + 1) // 2
    actual = sum(list1)
    missing_value = total - actual
    
    return repeated + [missing_value]
       
arr = [1, 3, 3]
print(*missing_repeating(arr))

3 2

In [131]:
def maximum_product(nums):
    
    count_dict = []
    count = 0
    n = len(nums)
    
    for i in range(len(nums)):
        for j in range(i+1, len(nums)):
            for k in range(j+1, len(nums)):
                for l in range(k+1, len(nums)):
                    
                    if n <= 5 : 
                        if nums[i] * nums[j]:
                            count_dict.append(nums[i] * nums[j])

                        if nums[i] * nums[j] * nums[k]:
                            count_dict.append(nums[i] * nums[j] * nums[k])

                            count += 1
                    if n >= 6:
                        if nums[i] * nums[j]:
                            count_dict.append(nums[i] * nums[j])

                        if nums[i] * nums[j] * nums[k]:
                            count_dict.append(nums[i] * nums[j] * nums[k])
                            
                        if nums[i] * nums[j] * nums[k] * nums[l]:
                            count_dict.append(nums[i] * nums[j] * nums[k] * nums[l])

                            count += 1
                        
                    
    max_value = max(count_dict)
    return max_value
    
nums = [2, 3, 4, 5, -1, 0]
print(maximum_product(nums))

120

In [153]:
def positive_missing(nums):
    
    n = len(nums)+1
    total = n * (n + 1) // 2
    actual = sum(nums)
    list1 = total - actual
    return list1

nums = [1,2,3,4,5]
print(positive_missing(nums))

6

In [176]:
def triplet_array(X, nums):
    
    count = 0
    
    for i in range(len(nums)):
        for j in range(i+1, len(nums)):
            for k in range(j+1, len(nums)):
                if nums[i] + nums[j] + nums[k] == X:
                    count += 1         
    return count
    
X = 13    
nums = [1,2,4,3,6,7]
print(triplet_array(X, nums))

2

In [40]:
def buy_sell(prices):
    n = len(prices)
    buy_sell_pairs = []
    
    for i in range(n - 1):
        # Find a local minima
        if prices[i] < prices[i + 1]:
            buy = i
            # Find a local maxima
            for j in range(i + 1, n):
                if j == n - 1 or prices[j] > prices[j + 1]:
                    sell = j
                    buy_sell_pairs.append((buy, sell))
                    break
    
    return buy_sell_pairs

nums = [100, 180, 260, 310, 40, 535, 695]
pairs = buy_sell(nums)

# Display results
if pairs:
    for buy, sell in pairs:
        print(f"Buy on day {buy} and sell on day {sell}")
else:
    print(-1)

Buy on day 0 and sell on day 3
Buy on day 1 and sell on day 3
Buy on day 2 and sell on day 3
Buy on day 4 and sell on day 6
Buy on day 5 and sell on day 6

In [80]:
def maximum_sum(nums):
    
    nums.sort()
    count = 0
    
    for i in range(len(nums)):
        count += nums[i] * i
        
    return count
    
nums = [5, 3, 2, 4, 1]
print(maximum_sum(nums))

8

In [92]:
def non_zero(nums):
    
    zeros = []
    Non_zeros = []
    
    for i in nums:
        if i == 0:
            zeros.append(i)
        if i != 0:
            Non_zeros.append(i)
    return Non_zeros + zeros
    
nums = [3, 5, 0, 0, 4]
print(non_zero(nums))

[3, 5, 4, 0, 0]

In [103]:
def median_values(nums1, nums2):
    
    nums = nums1 + nums2
    nums.sort()
    n = len(nums)
    median = n // 2
    return nums[median]
    
nums1 = [1,5,9]
nums2 = [2,3,6,7]
print(median_values(nums1, nums2))

5

In [120]:
def combine_elements(nums):
    
    nums.sort()
    
    values1 = []
    values2 = []
    
    for i in range(len(nums)):
        if i % 2 == 0:
            values1.append(str(nums[i]))
        else:
            values2.append(str(nums[i]))
            
    val1 = int(''.join(values1))
    val2 = int(''.join(values2))
        
    return val1+val2
    
nums = [6, 8, 4, 5, 2, 3]
print(combine_elements(nums))

82

In [165]:
def sub_sequence(nums):
    
    seen = set()
    list1 = []
    sequence = 0
    
    for num in nums:
        if num not in seen:
            list1.append(num)
        seen.add(num)
        
    for i in list1:
        sequence = list1[i]
        
        
    return list1, sequence
            

nums = [1,2,1,1,3]
print(sub_sequence(nums))

IndexError: list index out of range